[Unit]
Description=deis-dashback
Requires=docker.socket etcd.service
After=docker.socket etcd.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/bin/sh -c "docker pull lorieri/deis-dashback:latest"
ExecStartPre=/bin/sh -c "docker inspect deis-dashback >/dev/null && docker rm -f deis-dashback || true"
ExecStart=/bin/sh -c "echo $COREOS_PRIVATE_IPV4:6969 |etcdctl set /deis-dashboard/redis &&  docker run --name deis-dashback --rm -c 250 -p 6969:6379 -v /var/lib/deis/store:/var/lib/deis/store lorieri/deis-dashback:latest"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

